A collection in MongoDB is the same as a table in SQL databases.

A document in MongoDB is the same as a record in SQL databases.

In [20]:
import pymongo

In [21]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [22]:
mydb = myclient["mydatabase"]

In [23]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [24]:
mycol = mydb['raw_news']

In [25]:
print(mydb.list_collection_names())

[]

In [26]:
news = {'title': 'Buy HDFC Bank; target of Rs 2100: Sharekhan',
 'desc': 'Sharekhan is bullish on HDFC Bank has recommended buy rating on the stock with a target price of Rs 2100 in its research report dated December 24, 2024.',
 'date': 'December 26, 2024',
 'datetime': 'December 26, 2024 / 14:22 IST'}

In [27]:
x = mycol.insert_one(news)

In [28]:
x.inserted_id

ObjectId('676d39bdcc235b48a7ed5c37')